.parallax-container {
      height: 200px;;
    }
	
	.modal-content{
	background-color: #3f51b5;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

.modal { 
background: #3f51b5 ;

}


.center {
    text-align: center;
    vertical-align: middle;
}

.promo-example {
    overflow: hidden;
}

.promo {
    width: 100%;
}

.light, footer.page-footer .footer-copyright {
    font-weight: 300;
}

/*===================================================================================
 */
.picker { outline: none; } /* Optional feature */
/* Header - Day of the week */
.picker__weekday-display { background-color: #ee6e73; }
/* Body - Today info */
.picker__date-display { background-color: #ef9a9a; }
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #ffcdd2; }
.picker__nav--next:hover { background-color: #ffcdd2; }
.picker__nav--prev:before {
  border-left: 0;
  border-right: 0.75em solid #ee6e73;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #ee6e73;
}
.picker__today { color: #ee6e73; }
.picker__clear { /* If you want to customize */ }
.picker__close { color: #ee6e73; }
.btn-flat.picker__today:active { background-color: #ffcdd2; }
.btn-flat.picker__close:active { background-color: #ffcdd2; }
.btn-flat.picker__clear:active { background-color: #ffcdd2; }
/* Select months of the year */
.picker__select--month.browser-default {
  display: inline;
  background-color: #FFFFFF;
  width: 34%;
  border: none;
  outline: none;
}
/* Every month of the year except: today */
.picker__day { /* If you want to customize */ }
.picker__day:hover { /* If you want to customize */ }
.picker__day--infocus:hover { color: #ee6e73; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: #ee6e73; }
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #ffcc80; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #ef9a9a; }
.picker__day.picker__day--today { color: #ee6e73; }




.ilike-blue-container {
    @extend .blue-text, .text-lighten-4;
  }
  
  
  